html,body,p,div,h1,h2,h3
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;

}
h1
{
	font-size:34px;
	margin:24px auto;
}
h2
{
	font-size:20px;
	margin-bottom:16px;
}
table 
{
	border-collapse: collapse;
	border-spacing: 0;
}
div
{
	margin:40px auto;
}
.wrapper
{
	margin:50px auto;
	height:700px;
	width:1000px;
}
tr
{
	color:gray;
}
td
{
    width: 16px;
	height: 16px;
	font-size: 12px;
	line-height: 1;
	text-align: center;
	color: white;
}
p.level
{
	size: 16px;
	margin: 25px;
	color:black;
}

div.pageWrapper
{
    min-height: 100%;
}

div.main
{
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 850px;
}
div.main
{
    margin: auto;
    padding: 0;
    width: auto;
    overflow: hidden;
}


.wand
{
	background:#663300;
	border-color: #663300;
}
.snacke
{
	background: #669900;
	border-color: white;	
}
.futter
{
	background: red;
	border-color: red; 
}